alembic==0.9.7
Babel==2.9.1
backports-abc==0.5
backports.csv==1.0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
bleach==2.0.0
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
cntk==2.7
cntk-gpu==2.7
colorama==0.3.9
configparser==3.5.0
crypto==1.4.1
cycler==0.10.0
decorator==4.2.1
django-htmlmin==0.10.0
elasticsearch==7.7.1
entrypoints==0.2.3
enum34==1.1.6
Flask==1.0.0
Flask-Babel==0.11.2
Flask-BabelEx==0.9.3
Flask-Gravatar==0.5.0
Flask-HTMLmin==1.3.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
functools32==3.2.3.post2
html5lib==1.0.1
htmlmin==0.1.12
idna==2.6
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.10.1
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.4.0
jupyterthemes==0.18.3
keras==2.2.4
lesscpy==0.13.0
lxml==4.4.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mkl==2018.0.0
Naked==0.1.31
nbconvert==5.2.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.6
np-utils==0.5.10
numpy-mkl==1.16.6
pandas==0.22.0
pandocfilters==1.4.2
passlib==1.7.1
pathlib2==2.2.1
pickleshare==0.7.4
ply==3.10
prompt-toolkit==1.0.14
psycopg2==2.7.4
pyhocon==0.3.35
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2018.3
PyYAML>=4.2b1
pywinpty==0.5.1
pyzmq==17.0.0
qtconsole==4.3.0
requests==2.20.0
scandir==1.7
scikit-learn==0.19.1
scipy==1.0.0
select==0.0.1
selenium==3.141.0
Send2Trash==1.4.2
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
speaklater==1.3
SQLAlchemy==1.3.0
sqlparse==0.2.4
tensorflow==1.13.1
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
urllib3==1.24.2
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==2.0.0
win-unicode-console==0.5
WTForms==2.1
xlrd==1.1.0
